*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #000000;
    line-height: 1.6;
    padding: 40px;
}

.tabs-project{
    max-width: 900px;
    margin: auto;
}

.project-header{
    text-align: center;
    margin-bottom: 30px;
}
.project-header h1{
    font-size: 2.5em;
    margin-bottom: 10px;
}
.project-header p{
    font-size: 1.2em;
    color: #555;
}
.tabs-navigation {
    display: flex;
    border-bottom: 2px solid #ddd;
    margin-bottom: 20px;
}

.tab {
    background: none;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s, color 0.3s;
    color: #555;
    border-bottom: 3px solid transparent;
    padding-bottom: 10px;
    position: relative;
}

.tab.active {
    color: #000;
    font-weight: 500
}
.tab.active::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 3px;
    width: 100%;
    background-color: #000;
}

.tabs-content{
    background-color: #000;
    border-radius: 20px;
    padding: 60px;
    text-align: center;
}

.tab-panel{
    display: none;
    color: #fff;
    font-size: 22px;
}

.tab-panel.active{
    display: block;
}